<% unless @confirmed || @creator %>
	<div class="not-allowed">
		<%= image_tag 'ribbon.png' %>
		<a href="#" class="get-invited">Get Invited</a>
	</div>
<% end %>

<div class="description">
	<h1><%= @event.name %></h1>
	<p><%= @event.description %></p>
</div>

<div class="slider">
	<div id="cbp-fwslider" class="cbp-fwslider">
		<ul>
			<% @event.pictures.each do |picture| %>
				<li><%= image_tag picture.url %></li>
			<% end %>
		</ul>
	</div>
</div>

<% if @confirmed %>
	
	<div class="controls">
		<div class="guests">Guests</div>
		<div class="upload">Upload Pics.</div>
	</div>

	<div class='overlay'></div>

	<!-- approve/delete guest list -->
	<div class='modal guest-modal'>
    <div class='content'>
    	<h2>Guests</h2>
    		<% if @event.requests.length <= 0 %>
    			No guests
    		<% else %>
				<% @event.requests.where("accepted = true").each do |request| %>
		    	<ul class="user-list">
					<li class="cleafix">
						<span class="user"><%= request.user.first_name + " " + request.user.last_name %></span>
					</li>
				</ul>
				<% end %>
			<% end %>
    </div>
    <span class='close'>close</span>
	</div>
    	
	<!-- upload pictures -->
	<div class='modal upload-modal'>
    <div class='content'>
    	<h2>Pictures</h2>
			<%= simple_nested_form_for @event, :html => {:multipart => true} , defaults: { input_html: { class: 'input-block-level' } }  do |f| %>
				<fieldset>
		      <%= f.simple_fields_for :pictures do |pictures_form| %>
						<%= pictures_form.input :attachment, as: :file %>
						<%= pictures_form.hidden_field :creator_id, :value => current_user.id %>
		      <% end %>
		  	  <%= f.link_to_add "Add Image", :pictures, label: 'Pictures', class: 'btn btn-large btn-success' %>
		    </fieldset>
			  <%= f.button :submit, 'Upload into event', class: "btn btn-large btn-primary pull-right" %>
			<% end %>
    </div>
    <a href='#' class='close'>close</a>
	</div>

	<% elsif @creator %>
	
	<div class="controls">
		<div class="guests">Guests</div>
		<div class="upload">Upload Pics.</div>
	</div>

	<div class='overlay'></div>

	
	<!-- approve/delete guest list -->
	<div class='modal guest-modal'>
    <div class='content'>
    	<h2>Guests</h2>
    		<% if @event.requests.length <= 0 %>
    			No guests
    			<a href="#">Invite Guests</a>
    		<% else %>
			<% @event.requests.each do |request| %>
	    	<ul class="user-list">
					<li class="cleafix">
						<span class="user"><%= request.user.first_name + " " + request.user.last_name %></span>
						<% if request.accepted %>
							<%= link_to "remove", "#", :id => "request_#{request.id}", :class => "guest-action revoke_access" %>
						<% else %>
							<%= link_to "approve", "#", :id => "request_#{request.id}", :class => "guest-action approve_access" %>
						<% end %>
					</li>
				</ul>
			<% end %>
			<% end %>
    </div>
    <span class='close'>close</span>
	</div>
	
	<!-- upload pictures -->
	<div class='modal upload-modal'>
    <div class='content'>
    	<h2>Pictures</h2>
    	<% @event.pictures.each do |picture| %>
				<ul id="picture_div_<%= picture.id %>">
					<li><%= image_tag picture.url %> <%= link_to "Delete", "", :id => "picture_#{picture.id}", :class => "picture_delete btn btn-accept" %> </li>
				</ul>
			<% end %>
			<%= simple_nested_form_for @event, :html => {:multipart => true} , defaults: { input_html: { class: 'input-block-level' } }  do |f| %>
				<fieldset>
		      <%= f.simple_fields_for :pictures do |pictures_form| %>
						<%= pictures_form.input :attachment, as: :file %>
						<%= pictures_form.hidden_field :creator_id, :value => current_user.id %>
		      <% end %>
		  	  <%= f.link_to_add "Add Image", :pictures, label: 'Pictures', class: 'btn btn-large btn-success' %>
		    </fieldset>
			  <%= f.button :submit, 'Upload into event', class: "btn btn-large btn-primary pull-right" %>
			<% end %>
    </div>
    <a href='#' class='close'>close</a>
	</div>
<% end %>

<script>
	$( function() {
		$( '#cbp-fwslider' ).cbpFWSlider();
	} );
</script>
