<%= simple_nested_form_for @user, :html => {:multipart => true} , defaults: { input_html: { class: 'input-block-level' } } do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :thumbnail_url %><br />
    <%= f.text_field :thumbnail_url %>
  </div>
	 <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
	</div>
	 <div class="field">
    <%= f.label :social_url_1 %><br />
    <%= f.text_field :social_url_1 %>
	</div>
	 <div class="field">
    <%= f.label :social_url_2 %><br />
    <%= f.text_field :social_url_2 %>
	</div>
	 <div class="field">
    <%= f.label :social_url_3 %><br />
    <%= f.text_field :social_url_3 %>
	</div>
	 <div class="field">
    <%= f.label :social_url_4 %><br />
    <%= f.text_field :social_url_4 %>
  </div>
	<fieldset>
		<%= f.simple_fields_for :picture do |picture_form| %>
			<% if @edit %>
        <%= image_tag @user.picture.url %>
				<%= picture_form.input :attachment, as: :file, label: 'Change picture' %>
			<% else %>
				<%= picture_form.input :attachment, as: :file, label: 'Picture' %>
			<% end %>
			<%= picture_form.hidden_field :creator_id, :value => current_user.id %>
    <% end %>
  </fieldset>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
