<div class="row">
  <div class="span6 offset3">
    <%= simple_form_for @event, :html => {:multipart => true} , defaults: { input_html: { class: 'input-block-level' } }  do |f| %>
      <% if @event.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>
          <ul>
          <% @event.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>


      <%= f.hidden_field :creator_id, value: current_user.id %>

        <%= f.input :name, label: 'Event Name' %>
        <div class="input-prepend">
          <span class="add-on">eventee.co/</span>
          <%= f.text_field :url, as: :string, class: 'span2' %>
        </div>
        <div class="row">
          <div class="span3">
            <%= f.input :start_date, as: :string %>
          </div>
          <div class="span3">
            <%= f.input :end_date, as: :string %>
          </div>
        </div>
        <%= f.input :description, input_html: { rows: 5 } %>
        <%= f.input :location_id %>

    	<%= f.simple_fields_for :thumbnail do |thumbnail_form| %>
          <%= thumbnail_form.input :attachment, as: :file %>
      <% end %>

      <fieldset>
        <%= f.simple_fields_for :pictures do |pictures_form| %>
            <%= pictures_form.input :attachment, as: :file %>
        <% end %>
        <%= f.link_to_add "Add Image", :pictures %>
      </fieldset>
    	
    	<%#= f.fields_for :videos do |videos_form| %>
        <div>
          <%#= videos_form.label :video %>
          <%#= videos_form.file_field :attachment %>
        </div>
    	<%# end %>
    	<%#= f.fields_for :documents do |documents_form| %>
        <div>
          <%#= documents_form.label :document %>
          <%#= documents_form.file_field :attachment %>
        </div>
      <%# end %>
      <div class="actions">
        <%= f.button :submit, 'Continue', class: "btn btn-large btn-primary pull-right" %>
      </div>
    <% end %>
  </div>
</div>


