<div class="row">
  <div class="span12">
    <h1>My Events</h1>
    <hr>
    <ul class="thumbnails">
      <% @events.each do |event| %>
      <li class="span3">
        <div class="thumbnail">
          <small>
            Created by: <%= link_to event.creator do %>
              <strong><%= event.creator.first_name if event.creator %> <%= event.creator.last_name if event.creator %></strong>
            <% end %>
          </small>
          <%= link_to event do %>
            <%= image_tag event.thumbnail.url %>
            <%= event.name %>
          <% end %>
          <p><%= event.description %></p>
        </div>
      </li>
      <% end %>
      <li class="span3">
        <div class="thumbnail">
          <%= link_to image_tag('http://placehold.it/210&text=Create+an+Event'), new_event_path %>
        </div>
      </li>
    </ul>
  </div>
</div>

