<script>
	$(document).on("ready", initialize);

  	function initialize(){
  		$("#invite_members_button").on("click", send_emails);
  	}

	function send_emails(){
		$.ajax({
      url: "/send_email.json",
			type: "post",
			data: {
				csv_emails: $("#invite_members_list")[0].value,
				event_id: <%= @event.id %>
			},
      success: function(){ $('.result').append('Invitations succesfully sent!'); },
			error:function(error){ alert("error sending emails"); }   
    }); 
	}
</script>

<div class="row">
  <div class="span8">
    <h1><%= @event.name %></h1>
    <%= link_to 'Add Pictures to Event', edit_event_path, class: 'add-something red' %>
  </div>  
</div>

<div class="row">
  <div class="span8 content">
    <p><small>Created by:</small>
      <%= link_to @event.creator do %>
        <strong></strong><%= @event.creator.first_name %> <%= @event.creator.last_name %></strong>
      <% end %>
    </p>
    <p><%= @event.description %></p>
    <hr>
    <div class="row">
      <div class="span8">
				<% @event.pictures.each do |picture| %>
					<% creator = User.find(picture.creator_id) %>
        	<a href="#myModal" data-toggle="modal"><%= image_tag picture.url %></a>
					<p class="pull-right">Uploaded by: <a href="#"><%= creator.first_name + creator.last_name %></a> <%= time_ago_in_words(picture.created_at) %> ago</p>
          <ul class="link-list">
            <li><a href="#">Like</a></li>
            <li><a href="#">Comment</a></li>
            <li><a href="#">Share</a></li>
            <li><a href="#">Buy Print</a></li>
          </ul>
          <p>
            <%= picture.comment %>
          </p>
          <%= content_tag :h4, 'Comments' if picture.comments %>
          <% picture.comments.each do |comment| %>
            <%= comment.description %>
          <% end %>
        <% end %>
        <hr>
      </div>
    </div>
  </div>
    <div class="span4">
      <h3>Owner</h3>
      <%= link_to @event.creator do %>
        <%= @event.creator.first_name %> <%= @event.creator.last_name %>
      <% end %>
      <h3>Members</h3>
      <%= link_to 'Invite people to join event.', '#', class: 'add-something green' %>
      <div class="form-search">
        <textarea class="input-block-level" placeholder="(Add their email separated by commas.)" id="invite_members_list"></textarea>
        <div class="result"></div> 
        <button class="btn" id="invite_members_button">Search</button>
      </div>
      <% if @event.users.length > 0 %>
        <% @event.users.each do |user| %>
          <%= link_to user do %>
            <%= user.first_name %> <%= user.last_name %>
          <% end %>
        <% end %>
      <% else %>
        <h4 class="muted">There are no members yet.</h4>
      <% end %>
    </div>
</div>
