<script>
	$(document).on("ready", initialize);

  	function initialize(){
  		$("#invite_members_button").on("click", send_emails);
  	}

	function send_emails(){
		$.ajax({
      url: "/send_email.json",
			type: "post",
			data: {
				csv_emails: $("#invite_members_list")[0].value,
				event_id: <%= @event.id %>
			},
			success: function(){ 
				$('.result').append('Invitations succesfully sent!'); 
				$("#invite_members_list")[0].value = "";
			},
			error:function(error){ alert("error sending emails"); }   
    }); 
	}
</script>

<div class="row">
  <div class="span8">
    <h1 class="big-margin"><%= @event.name %></h1>
    <%= link_to 'Add Pictures to Event', edit_event_path, class: 'add-something red' %>
  </div>  
</div>

<div class="row">
  <div class="span8 content">
    <blockquote><p><%= @event.description %></p></blockquote>
    <hr>
    <div class="row">
      <div class="span8">
        <% @event.pictures.each do |picture| %>
          <% creator = User.find(picture.creator_id) %>
          <div class="image-container">
            <%= image_tag picture.url %>
            <p><%= picture.comment %></p>
          </div>
          <div class="comment-area clearfix">
            <textarea placeholder="Add your comment here." class="span8"></textarea>
            <input type="submit" class="btn pull-right">
          </div>
          <div class="clearfix">
            <p class="pull-right uploader"><small>Uploaded by: <%= link_to (creator.first_name + " " + creator.last_name + " "), creator %><%= time_ago_in_words(picture.created_at) %> ago</small></p>
            <ul class="link-list action-bar pull-left">
              <li><a class="entypo large" href="#">☆</a></li>
              <li><a class="entypo large comment" href="#"></a></li>
              <li><a class="entypo large" href="#"></a></li>
              <li><a href="#">Buy</a></li>
            </ul>
          </div>

           <div class="comment-display">
            <%= content_tag :h4, 'Comments' if picture.comments %>
            <div class="row">
              <div class="span1">
                <img src="http://placehold.it/50x50" alt="">
              </div>
              <div class="span6">
                <% picture.comments.each do |comment| %>
                  <p><%= comment.description %></p>
                <% end %>
              </div>
            </div>
            <hr>
          </div>
        <% end %>
      </div>
    </div>
  </div>
    <div class="span4">
      <h3>Owner</h3>
      <%= link_to @event.creator, class: 'sidebar-link' do %>
        <%= @event.creator.first_name %> <%= @event.creator.last_name %>
      <% end %>
      <h3>Members</h3>
      <%= link_to 'Invite people to join event.', '#', class: 'add-something green' %>
      <div class="form-search">
        <textarea class="input-block-level" placeholder="(Add their email separated by commas.)" id="invite_members_list"></textarea>
        <div class="result"></div> 
        <button class="btn" id="invite_members_button">Invite</button>
      </div>
      <% if @event.users.length > 0 %>
        <ul class="sidebar-link">
          <% @event.users.each do |user| %>
            <li>
              <%= link_to user do %>
                <%= user.first_name %> <%= user.last_name %>
              <% end %>
            </li>
          <% end %>
        </ul>
      <% else %>
        <h4 class="muted">There are no members yet.</h4>
      <% end %>
    </div>
</div>
