<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @request.user_id %>
</p>

<p>
  <b>Event:</b>
  <%= @request.event_id %>
</p>

<p>
  <b>Accepted:</b>
  <%= @request.accepted %>
</p>


<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>
